{{- $featureItems := int (site.Params.neso.home.list.featured_entries_limit | default 0) }}
{{- $showList     := gt $featureItems 0 }}

{{- $jc := "justify-start" }}
{{- if reflect.IsMap . }}
    {{- with index . "align" }}
        {{- if eq . "center" }}
            {{- $jc = "justify-center" }}
        {{- else if or (eq . "end") (eq . "right") }}
            {{- $jc = "justify-end" }}
        {{- else if or (eq . "start") (eq . "left") }}
            {{- $jc = "justify-start" }}
        {{- end }}
    {{- end }}
{{- end }}

{{- $links    := site.Params.neso.social.links | default (slice) }}
{{- $hasLinks := gt (len $links) 0 }}
{{- $rss      := site.Home.OutputFormats.Get "rss" }}
{{- $showRSS  := and (not $showList) $rss }}

{{- $uiIcons := partialCached "_funcs/get-ui-icons.html" . }}

{{- if or $hasLinks $showRSS }}
    <ul class="not-last:mb-r-lg flex flex-wrap {{ $jc }} gap-3">
        {{- if $showRSS }}
            <li class="contents [&_svg]:size-7">
                <a href="{{ $rss.RelPermalink }}"
                   title="RSS" aria-label="RSS">
                    <svg class="stroke-2 stroke-current fill-none">
                        <use href="{{ $uiIcons.RelPermalink }}#rss" />
                    </svg>
                </a>
            </li>
        {{- end }}
        {{- range $links }}
            {{- $iconName := trim .name " " | lower }}
            <li class="contents [&_svg]:size-7">
                <a href="{{ trim .url " " | safeURL }}"
                   title="{{ (.title | default .name) | title }}"
                   target="_blank" rel="noopener noreferrer me">
                    {{- if eq $iconName "googlescholar" }}
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M5.242 13.769 0 9.5 12 0l12 9.5-5.242 4.269C17.548 11.249 14.978 9.5 12 9.5c-2.977 0-5.548 1.748-6.758 4.269zM12 10a7 7 0 1 0 0 14 7 7 0 0 0 0-14z" />
                        </svg>
                    {{- else if eq $iconName "orcid" }}
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M12 0C5.372 0 0 5.372 0 12s5.372 12 12 12 12-5.372 12-12S18.628 0 12 0zM7.369 4.378c.525 0 .947.431.947.947 0 .525-.422.947-.947.947-.525 0-.946-.422-.946-.947 0-.516.421-.947.946-.947zm-.722 3.038h1.444v10.041H6.647V7.416zm3.562 0h3.9c3.712 0 5.344 2.653 5.344 5.025 0 2.578-2.016 5.025-5.325 5.025h-3.919V7.416zm1.444 1.303v7.444h2.297c3.272 0 4.022-2.484 4.022-3.722 0-2.016-1.284-3.722-4.097-3.722h-2.222z" />
                        </svg>
                    {{- else }}
                        {{- partial "home/svg.html" . }}
                    {{- end }}
                </a>
            </li>
        {{- end }}
    </ul>
{{- end -}}
